@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

.pokerTable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokerCard {
  background-color: white;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  padding: 1px 8px;
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.red {
  color: red;
}

.topSuit {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 30px;
  padding-left: 5px;
  font-size: 40px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 50px;
}
.bottomSuit {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  padding-right: 5px;
  font-size: 40px;
}
